@model VideoStore.Models.IndexViewModel
@{
    ViewBag.Title = "Din sida";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Dina uppgifter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Ändra ditt lösenord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

            @foreach(var item in Model.Logins)
            {
                item
            }
            <table class="table">
                <caption>List of users</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>

                    </tr>
                </tbody>
            </table>

            ]
        </dd>


      
  
    </dl>
</div>
