@model IEnumerable<VideoStore.Models.RentDetailsView>



<h2>Hej @Html.DisplayFor(m => User.Identity.Name), här kan du se vilka filmer som du har hyrt </h2>     <br />


@foreach (var item in Model)
{
    String imageConvert = Convert.ToBase64String(item.Image);
    String image = string.Format("data:image/" + "jpeg" + "; base64,{0}", imageConvert); //imagetype can be e.g. gif, jpeg, png etc.
<div class="well well-lg">
    <div class="row">
        <div class="col-sm-1"><img class="img-responsive" width="100" src="@image" alt="Generic placeholder image"></div>
        <div class="col-sm-4"><h4>@item.title</h4><br />@item.desscription</div>
        <div class="col-sm-4">Film hyrd: @item.rentDate.ToShortDateString()<br />Film återlämnas: @item.returnDate.ToShortDateString()</div>
    </div>
    </div>



}


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
